.mainForm, .mainHead{
    margin:2rem auto;
    width: 50%;
}
.class2{
    display: inline-block;
    width:1rem;
    height: 1rem;
}
.class1{
    display: inline-block;
    width:1rem;
    height: 1rem;
    background-color: green;
}
.class0{
    display: inline-block;
    width:1rem;
    height: 1rem;
    background-color: red;
}